.catalog-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.catalog-header{
    margin: 20px 0; /* Spacing above and below */
    letter-spacing: 2px; /* Adds space between letters */
    text-align: center;
}
.catalog{
    padding-top: 40px;
    min-height:100vh;
    height:fit-content;
}

.spinner-container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;

}


.error-display{
    text-align: center;
    margin-top:4rem;
    font-weight: 100;

}