.signup-form-wrapper{

    height:65vh;
    padding:40px;
}

.signup-form-wrapper>h1 {
    color: #0F1A12;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.signup-form-wrapper > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:20px;
}

.form-input-signup > input{
    min-width: 30%;
    width:400px;
    border-radius: 12px;
    padding:16px;
    border: 1px solid rgba(0, 0, 0, 0.259);
    color:rgb(169, 139, 115);

}
.form-input-signup > .signup-btn{
    background-color:  rgba(155, 133, 104, 0.988);
    color:white;  
}
.form-input-signup > .signup-btn:hover{
    background-color:  rgba(195, 183, 167, 0.988);
    cursor:pointer;  
}
.err_label{
    color:Red;
}